@page "/Blogging"
@using Microsoft.Extensions.Localization
@using global::CatchException.Blogging.Localization
@inject IStringLocalizer<BloggingResource> L
@{
}
<h1>Blogging</h1>
<p>@L["SamplePageMessage"]</p>