@page
@using Microsoft.Extensions.Localization
@using CatchException.Blogging.Localization
@using CatchException.Blogging.Web.Pages.Blogging
@model CatchException.Blogging.Web.Pages.Blogging.IndexModel
@inject IStringLocalizer<BloggingResource> L

@{
}
<h1>Blogging</h1>
<p>@L["SamplePageMessage"]</p>
